<% include  ./partials/header%>

<center><h1>Welcome to E-Commerce Website</h1></center>

<li><a href="/register"> Sign Up! </a></li>

<li><a href="/login"> Login! </a></li>
<li><a href="/logout"> Logout! </a></li>
<li><a href="/session"> session </a></li>

<% include  ./partials/footer%>