<% include ./partials/header %>
<h1>signup form!</h1>
<form action='/register' method="POST">
    
<input type="text" name="username" placeholder="username"><br><br>
<input type="email" name="email" placeholder="email"><br><br>
<input type="password" name="password" placeholder="password"><br><br>
<button>Submit</button>
  </form>

    <% include ./partials/footer %>